.pytest_cache
venv
.venv
dev_*.ipynb
test_*.ipynb
*.egg-info
.DS_Store
cache
*.cssx
*.pyc
.env
.vscode
dev_*.txt
*tiles*/*
*.bak.py
build
dist
geckodriver.log
.coverage*
out.txt
notebooks/**/*.js
notebooks/**/*.css
notebooks/**/*.jpg
notebooks/**/*.png
notebooks/**/*.html