pandas
numpy
dash[diskcache]
plotly
tqdm
dash_bootstrap_components
dash_oop_components @ git+https://github.com/quadrismegistus/dash_oop_components
scipy
loguru
geopy
humanfriendly
orjson
diskcache
colour
pywebview
screeninfo
shapely
dash-leaflet
gunicorn