@font-face {
    font-family: 'Recursive';
    src: url('/assets/Recursive_VF_1.085.woff2') format('woff2-variations');
    font-weight: 300 1000;
}

@font-face {
    font-family: SCo;
    src: url(/assets/Brown-Regular.otf);
}

@font-face {
    font-family: Louize;
    src: url(/assets/LouizeTrial-Regular.otf);
}

html {height:100%}
body { 
    font-family: Recursive, Tahoma, Verdana;
    height:100vh;
    width:100vw;
    margin:0;
    padding:0; 
    overflow-x:hidden;
}

h1 { font-size:2rem;}
h2 { font-size:1.4rem;}
h3 { font-size:1.3rem;}
h4 { font-size:1.15rem;}
h5 { font-size:1.1rem;}

.container, .row, .col { 
    max-width: none; 
    padding: 0;
    margin: 0;
    width: 100%;
}




.row>* { 
    padding:0;
    margin:0;
}

.navbar-row {
    top:0;
    left:0;
    color:black;
    line-height:50px;  
    width:100vw;
    padding:0;
    height:50px;
    max-height:50px;
    min-height:50px;
    white-space:nowrap;
    position:absolute;
    z-index: 50;
    overflow-y: hidden;
    overflow-x: hidden;
    display:block;
    backdrop-filter: blur(5px);
    background:rgba(225, 225, 225, 0.666);
}

.mainview {
    /* position: fixed; */
    /* border:1px solid green; */
}


.tabs-container { 
    width:fit-content;
    margin: 0 auto;
}

.tab {
    height:35px;
    line-height:35px;
    margin:0;
    margin-block-end: 0;
    margin-block-start: 0;
    padding-inline-start: 0;
    vertical-align: middle;
    padding:0;

}

.nav-link { 
    height:35px;
    line-height:35px;
    margin:0 auto;
    padding:0 8px;
    border:0;
}




#mainview_tabs .nav-link { 
    border: 1px solid rgba(150, 150, 150, 1);
    height:35px;
    line-height:35px;
    padding:0 1rem;
    margin:0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top:none;
    display:inline-block;
    width:fit-content;
    color:black;
    background:rgba(225, 225, 225, 0.65);
}

#mainview_tabs .nav-link.link, #mainview_tabs .nav-link.visited {
    border:none;
}


#mainview_tabs .nav-link.active {
    padding:0 1rem;
    color:black;
    border: 1px solid rgba(150, 150, 150, 1);
    border-top:none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin:0;
    display:inline-block;
    width:fit-content;
    background:rgba(225, 225, 225, 1);
    font-weight:600;
}

#mainview_tabs .nav-link:hover {
    border-top:none;
    text-decoration: underline;
}






.logo { 
    height:50px; 
    vertical-align: top; 
    text-align: left;
    /* margin: 0 auto; */
    width:fit-content;
    padding-left:5px;
    z-index:5;
    height:50px;
}

.logo-img, .logo-img2 {  
    height:50px; 
    display:inline;
    margin-top:-10px;
    z-index:0;
}
.logo-img2 {
    height:44px;
    width:31px;
}



.logo-title { 
    margin:0 10px; 
    font-size:1.5rem; 
    line-height:50px; 
    display: inline;
    font-family: Louize, Recursive, Tahoma, Verdana;
    white-space: nowrap;
    width:fit-content;
}

.nav-tabs { 
    border-bottom: none; 
}

.collapsible-card { 
    margin:0; 
    background:none;
    /* background:rgba(255,255,255,.85); */
}

.collapsible-panel {
    /* background:rgba(255,255,255,0.5); */
}

.card-header {
    padding:0;
    padding-left:.5rem;
    font-size:.9rem;
    line-height:35px;
    height:35px;
    /* backdrop-filter: blur(1px); */
}

.card-footer {
    padding:2px;
    font-size:2em;
    /* background-color: rgba(255,255,255,0); */
    border:none;
    text-align: center;
}
.card-body .card-footer { text-align: right; }

.card-footer div { 
    margin:0;
    padding:0;
}

.card-footer p { 
    margin:0;
    padding:0;
}

.card-title {
    line-height:35px;
    height:35px;
}

p {
    margin-top:0.5rem;
    margin-bottom:0.5rem;
}

.btn-link {
    vertical-align: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
    /* font-size:0.8rem; */
}

.button_showhide {
    float:right;
}

.button_clear { font-size:.8rem}

.button_clear_div {
    float:right;
}

.card-footer-desc {
    text-align: left;
    width:100%;
}

.card-footer {
    background: rgba(255,255,255,0.8);
}

.card-footer-desc .store_desc {
    font-size:.8rem;
    padding-left:.3rem;
}

.card-body {
    padding:0;
}

.query_str {
    font-size:1rem;
    text-align: center;
    vertical-align: middle;
    width:100%;
    border:0;
}

.button_store_desc { 
    text-align:left;
}






.panel { 
    width:250px;
    min-width:250px;
    max-width:250px;
    /* position:fixed; */
    /* z-index:100; */
    backdrop-filter: blur(3px);
}



.panel_R .card-header { 
    background-color: rgba(125, 106, 182, 0.9);
}

.panel_R .card-body .card-header {
    background-color: rgba(125, 106, 182, 0.7);
}

.panel_R .card-body .card-body .card-header {
    background-color: rgba(125, 106, 182, 0.5);
}

.card-header .btn {margin:auto 0;}

.panel .card { 
    /* border: 1px solid rgba(125, 106, 182, 0.15); */
    border:none;
}

.panel_L .card-header { 
    background-color: rgba(64, 176, 166, 0.9);
}
.panel_L .card-body .card-header { 
    background-color: rgba(64, 176, 166, 0.7);
}.panel_L .card-body .card-body .card-header { 
    background-color: rgba(64, 176, 166, 0.5);
    
}


button {
    pointer-events: all;
}

.panel_L .card { 
    border: 1px solid rgba(64, 176, 166, 0.15);
    border:none;
}


.panel_R { 
    position:absolute;
    top:50px;
    left:251px;
    z-index:50;
    /* opacity:.7; */
}
/* .panel_R button {
    pointer-events: none;
} */



.panel_L {
    /* float:left; */
    position:absolute;
    top:50px;
    left:0;
    z-index:100;
}

.filters-container {
    /* display:flex; */
}

.slider-input-num {
    width:4em;
    /* border:1px solid silver; */
    border:none;
    font-style: italic;
    font-size:.9em;
    text-align: left;
    padding: 0;
    margin:0;
    font-family: Recursive, Tahoma, Verdana;
}



/* level 1 */
.card-title { 
    font-size:1.1em;
    font-style:normal;
}

/* .card-header {
    height:50px;
    line-height:50px;
}
.card-body .card-header {
    height:35px;
    line-height:35px;
} */

.card-body .card-body {
    background: white;
}


/* level 2 */
.card-body .card-title {
    font-size:1.1em;
    /* padding-left:.5em; */
    font-style: normal;
}

.card-body .card-header-collapsible-panel {
    height:35px;
}

/* level 3 */
.card-body .card-body .card-title {
    font-size:1em;
    /* padding-left:1em;  */
    font-style: normal;
}




.comparison_map_graph {
    height: 100vh;
    width:100vw;
    margin:0;
    padding:0;
    position:fixed;
    top:0;
    left:0;
    display:block;   
    z-index:0;
}

#mainview_tabs {
    /* display:flex; */
    /* justify-content: end; */
    /* flex-grow: 1; */
    z-index: 100;
    position:absolute;
    right:0;
    top:50px;
    width:fit-content;
}

.viewfunc-container {
    /* z-index:-1; */
}

.mainview-container {
    /* z-index:-100; */
}

#mainview {
    /* position:absolute; */
    /* left:0; */
    /* top:50px; */
    /* width:99vw; */
    /* height:100vw; */
    margin:0;
    padding:0;
    z-index:0;
 }
#tblview-container {
    position:absolute;
    top:50px;
    padding-left:501px;
    /* height:100vh; */
    height:fit-content;
    width:100vw;
    overflow-x: hidden;
    z-index:10;
    pointer-events: none;

}


#tblview {
    display:none;
    z-index:100;
    border:1px solid gray;
    margin:0 5px 5px auto;
    border-top:none;
    /* width:fit-content; */
    /* width */
    padding:10px;
    background-color: rgba(255,255,255,1);
    pointer-events: all;
}

/* .dash-spreadsheet-menu div { margin:0 0 0 auto;} */


.left-color { 
    color:#40b0a6; 
}

.right-color { 
    color: #7d6ab6; 
}

.distinctive-feature-h4 {
    margin-top:1em;
}