@font-face {
    font-family: 'Recursive';
    src: url('/assets/Recursive_VF_1.085.woff2') format('woff2-variations');
    font-weight: 300 1000;
}

@font-face {
    font-family: SCo;
    src: url(/assets/Brown-Regular.otf);
}

@font-face {
    font-family: Louize;
    src: url(/assets/LouizeTrial-Regular.otf);
}

html {height:100%}
body { 
    font-family: Recursive, Tahoma, Verdana;
    height:100vh;
    width:100vw;
    margin:0;
    padding:0; 
    /* overflow:hidden; */
}

h1 { font-size:2rem;}
h2 { font-size:1.4rem;}
h3 { font-size:1.3rem;}
h4 { font-size:1.15rem;}
h5 { font-size:1.1rem;}

.container, .row, .col { 
    max-width: none; 
    padding: 0;
    margin: 0;
    width: 100%;
}




.row>* { 
    padding:0;
    margin:0;
}

.navbar-row {
    top:0;
    left:0;
    color:black;
    line-height:50px;  
    width:100vw;
    padding:0;
    height:50px;
    max-height:50px;
    min-height:50px;
    white-space:nowrap;
    position:absolute;
    z-index: 1000;
    overflow-y: hidden;
    overflow-x: hidden;
    display:block;
    backdrop-filter: blur(5px);
    background:rgba(225, 225, 225, 0.666);
}

.mainview {
    /* position: fixed; */
    /* border:1px solid green; */
}


.tabs-container { 
    width:fit-content;
    margin: 0 auto;
}

.tab {
    height:50px;
    line-height:50px;
    margin:0;
    margin-block-end: 0;
    margin-block-start: 0;
    padding-inline-start: 0;
    vertical-align: middle;
}

.tabs-container .nav-link { 
    height:50px;
    line-height:50px;
    margin:0 auto;
}

.logo { 
    height:50px; 
    vertical-align: top; 
    text-align: left;
    /* margin: 0 auto; */
    width:fit-content;
    padding-left:5px;
    z-index:5;
    height:50px;
}

.logo-img, .logo-img2 {  
    height:50px; 
    display:inline;
    margin-top:-10px;
    z-index:0;
}
.logo-img2 {
    height:44px;
    width:31px;
}



.logo-title { 
    margin:0 10px; 
    font-size:1.5rem; 
    line-height:50px; 
    display: inline;
    font-family: Louize, Recursive, Tahoma, Verdana;
    white-space: nowrap;
    width:fit-content;
}

.nav-tabs { 
    border-bottom: none; 
}

.collapsible-card { 
    margin:0; 
    background:rgba(255,255,255,.85);
}

.collapsible-panel {
    background:rgba(255,255,255,0.5);
}

.card-header {
    padding:0;
    padding-left:.5rem;
    font-size:.9rem;
    line-height:1.5rem;
    backdrop-filter: blur(1px);
}

.card-footer {
    padding:0.2em;
    font-size:0.8em;
    text-align: right;
    background-color: rgba(255,255,255,0);
    border-top: none;
}

.card-footer div { 
    margin:0;
    padding:0;
}

.card-footer p { 
    margin:0;
    padding:0;
}

.card-title {
    line-height:35px;
    height:35px;
}

p {
    margin-top:0.5rem;
    margin-bottom:0.5rem;
}

.btn-link {
    vertical-align: top;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
    /* font-size:0.8rem; */
}

.button_showhide {
    float:right;
}

.button_clear { font-size:.8rem}

.button_clear_div {
    float:right;
}

.card-footer-desc {
    text-align: left;
    width:100%;
}

.card-footer-desc .store_desc {
    font-size:.8rem;
    padding-left:.3rem;
}

.card-body {
    padding:0;
}

.query_str {
    font-size:1rem;
    text-align: center;
    vertical-align: middle;
    width:100%;
    border:0;
}

.button_store_desc { 
    text-align:left;
}






.panel { 
    width:250px;
    /* position:fixed; */
    /* z-index:100; */
}



.panel_R .card-header { 
    background-color: rgba(125, 106, 182, 0.4);
}
.panel_R .card-header-collapsible-panel { 
    background-color: rgba(125, 106, 182, .7);
    backdrop-filter: blur(5px);
}
.panel_R .card { 
    border: 1px solid rgba(125, 106, 182, 0.15);
}

.panel_L .card-header { 
    background-color: rgba(64, 176, 166, 0.4);
}
.panel_L .card-header-collapsible-panel { 
    background-color: rgba(64, 176, 166, .7);
    backdrop-filter: blur(5px);
}
.panel_L .card { 
    border: 1px solid rgba(64, 176, 166, 0.15);
}


.panel_R { 
    position:absolute;
    display: none; 
    top:50px;
    left:250px;
    z-index:100;
}


button {
    pointer-events: all;
}

.panel_L {
    /* float:left; */
    position:absolute;
    top:50px;
    left:0;
    z-index:100;
}

.filters-container {
    /* display:flex; */
}

.slider-input-num {
    width:4em;
    border:1px solid silver;
    font-style: italic;
    font-size:.9em;
    text-align: left;
    padding: 0;
    margin:0;
    font-family: Recursive, Tahoma, Verdana;
}

.card-title { font-size:1.2em;font-style:normal;}
.card-body .card-title {font-size:1.1em;padding-left:.5em;font-style: normal;}
.card-body .card-body .card-title {font-size:1em;padding-left:1em; font-style: normal;}



.comparison_map_graph {
    height: 100vh;
    width:100vw;
    margin:0;
    padding:0;
    position:fixed;
    top:0;
    left:0;
    display:block;   
    z-index:0;
}

#mainview_tabs {
    display:flex;
    justify-content: end;
    flex-grow: 1;
}

.viewfunc-container {
    /* z-index:-1; */
}

.mainview-container {
    /* z-index:-100; */
}