@font-face {
    font-family: 'Recursive';
    src: url('/assets/Recursive_VF_1.085.woff2') format('woff2-variations');
    font-weight: 300 1000;
}

@font-face {
    font-family: SCo;
    src: url(/assets/Brown-Regular.otf);
}
html {height:100%}
body { 
    font-family: Recursive, Tahoma, Verdana;
    height:100vh;
    width:100vw;
    margin:0;
    padding:0;
    overflow:hidden;
    /* min-height:600; */
    /* min-width:800; */
}

h1 { font-size:2rem;}
h2 { font-size:1.4rem;}
h3 { font-size:1.3rem;}
h4 { font-size:1.15rem;}
h5 { font-size:1.1rem;}

.container, .row, .col { 
    max-width: none; 
    padding: 0;
    margin: 0;
    width: 100%;
}

.row>* { 
    padding:0;
}

.navbar-row {
    /* position:absolute; top:0; left:0; width:100vw; */
    /* background: rgba(255,255,255,0.8); */
    /* background: rgba(150,150,150,0.7); */
    /* background: rgba(240,245,245,.95); */
    background: rgba(255,255,255,0.9);
    color:black;
    line-height:50px;  
    width:100vw;
    padding:0;
    height:50px;
    text-align: center;
    white-space:nowrap;
    border-bottom: 1px solid rgba(100,100,100,.5);
    z-index: 4;
    overflow-y: hidden;
    overflow-x: scroll;
    display:block;
}

.tabs-container { 
    width:fit-content;
    margin: 0 auto;
}

.frozen-top-row {
    height:150px;
    /* border:1px solid green; */
    background: rgba(255,255,255,0);
    backdrop-filter: blur(4px);
    top:0; left:0; position:absolute; z-index: 600;
    /* border-bottom: 1px solid rgba(0,0,0,.5); */
    /* border-bottom:1px solid #dddddd;  */
    /* #F7F7F7; */
}


.tab {
    height:50px;
    line-height:50px;
    margin:0;
    margin-block-end: 0;
    margin-block-start: 0;
    padding-inline-start: 0;
    vertical-align: middle;
}

.tabs-container .nav-link { 
    height:50px;
    line-height:50px;
    margin:0 auto;
    /* margin-top:1px; */
    /* margin-bottom:-5px; */
}

.logo { 
    height:50px; 
    vertical-align: top; 
    text-align: left;
    margin: 0 auto;
    width:fit-content;
    z-index:5;
    height:50px;
    /* border:1px solid red; */
    /* background-color: #F7F7F7; */
    /* position:absolute;
    top:0;
    right:0; */
}

.logo-img, .logo-img2 {  
    height:50px; 
    display:inline;
    margin-top:-10px;
    z-index:0;
}
.logo-img2 {
    height:44px;
    width:31px;
}



.logo-title { 
    margin:0 10px; 
    font-size:1.5rem; 
    line-height:50px; 
    display: inline;
    font-family: Recursive, Tahoma, Verdana;
    white-space: nowrap;
    width:fit-content;
    /* border:1px solid blue; */
}

.nav-tabs { 
    border-bottom: none; 
}

.collapsible-card { 
    /* margin:4px 0;  */
    margin:0; 
    background:rgba(255,255,255,.85);
}

.collapsible-panel {
    background:rgba(255,255,255,0.5);
    /* margin-bottom:1rem; */
}

.panel { 
    padding:0 2px;
    border:none;
    /* margin-bottom:1rem; */
}

.card-header {
    padding:0;
    padding-left:.5rem;
    font-size:.9rem;
    line-height:1.5rem;
    backdrop-filter: blur(1px);
}

.card-footer {
    padding:0.2em;
    font-size:0.8em;
    text-align: right;
    background-color: rgba(255,255,255,0.95);
    border-top: none;
}

.card-footer div { 
    margin:0;
    padding:0;
}

.card-footer p { 
    margin:0;
    padding:0;
}

.card-title {
    line-height:35px;
    height:35px;
}

p {
    margin-top:0.5rem;
    margin-bottom:0.5rem;
}

.btn-link {
    vertical-align: top;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
    /* font-size:0.8rem; */
}


.layout-belownavbar { 
    /* height:100vh;  */
    /* max-height:100vh;  */
    /* min-height:100vh;  */
    /* padding-top:50px;  */
    /* padding-bottom:150px; */
}


.layout-toprow { 
    /* height:fit-content;
    overflow-y: hidden;
    z-index: 10;
    vertical-align: top; */
    /* position:absolute; */
    /* top:50px; */
    /* left:0; */
    /* width:50vw; */
    /* background:white; */
    background: rgba(255,255,255,.5);
    /* backdrop-filter: blur(10px); */
    height:100px;
    min-height:100px;
    /* overflow-y: hidden;
    overflow-x: hidden; */
}
.layout-toprow .row {height:100%;}

.layout-mainrow { 
    /* height:100%; */
    /* overflow-y: scroll; */
    /* overflow-x: hidden; */
    z-index: 1;
    /* padding-top:150px; */
    /* scrollbar-width: thin; */
    /* scrollbar-width: none; */
    /* scrollbar-color: silver white; */
    width:100%;
    /* border:1px solid red; */
    /* position:absolute; */
    /* left:0; */
    /* top:0; */
    /* height:100vh; */
    /* width:50vw; */
}

.layout-leftcol::-webkit-scrollbar, .layout-rightcol::-webkit-scrollbar, .layout-toprow::-webkit-scrollbar, .storedescs-col::-webkit-scrollbar, .graphtabs-container::-webkit-scrollbar, .logo::-webkit-scrollbar, .navbar-row::-webkit-scrollbar {
    width: 8px;
    z-index:0;
    display: none;
}
  
.layout-leftcol::-webkit-scrollbar-thumb, .layout-rightcol::-webkit-scrollbar-thumb, .layout-toprow::-webkit-scrollbar-thumb, .storedescs-col::-webkit-scrollbar-thumb, .graphtabs-container::-webkit-scrollbar-thumb, .logo::-webkit-scrollbar-thumb, .navbar-row::-webkit-scrollbar-thumb {
    background-color: silver;
    z-index:0;
    display:none;
}


.storedescs-col {
    float:none;
    clear:both;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow-y:scroll;
    overflow-x:scroll;
    height:100px;
    align-items: center;
    justify-content:center;
    display:flex;
    padding:8px;
    z-index: 5000;
}

.storedescs-row {
    padding:1rem;
}

.storedescs-row h2 {
    font-size:1.1rem;
    font-weight:normal;
}


.left-color { 
    color:#AB9155; 
}

.right-color { 
    color: #40B0A6; 
}

.store_desc { 
    display:inline; 
}

.store_desc div {
    display:inline;
}

.store_desc p {
    display:inline;
}

.comparison_map_graph {
    /* display: flex; */
    /* flex-direction: column; */
    /* flex-grow: 1; */
    height: 100vh;
    width:100%;
    margin:0;
    padding:0;
    position:fixed;
    top:0;
    left:0;
    /* padding-left:50vw; */
    /* padding-top:50px; */
    display:block;

    /* height:100%; */
    /* width: 100%; */
    
}

.comparison_map_table {
    height: 100%;
    width: 100%;
}

.layout-content-container {
    display:flex;
    flex-flow:column;
    height:100%;
    /* border: 1px solid green; */
}

.content-belowtabs-row {
    display:flex;
    flex-grow:1;
    flex-direction: column;
    width:100%;
    /* overflow:scroll; */
    /* height:90vh; */
}

.layout-leftcol, .layout-rightcol {
    height:fit-content;
    max-height:100vh;
    width:50vw;
    position:absolute;
    top:0;
    z-index:0;
    padding-top:150px;
    /* border:1px solid blue; */
    overflow-x: hidden;
    overflow-y:scroll;
}



.layout-leftcol { 
    left:0; 
    background: rgba(255,255,255,0); 
    z-index:500;
    /* backdrop-filter: blur(2px); */
}
.layout-rightcol { 
    right:0; 
    /* width:100%; */
}

.navtabs-container {
    float:left;
}

.navtabs-container .nav-link {
    padding:0 1rem;
    height:50px;
    line-height:50px;
}

.logo-col {
    width: fit-content;
}

.layout-content-container, .content-table-row {
    display:flex;
    flex-direction: column;
    height:100%;
}

p { 
    font-weight:normal; 
    font-weight:1em;
}

.graphtabs-container{
    height:50px;
    margin:0;
    background: rgba(255,255,255,0);
    display:flex;
    justify-content: start;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    flex-wrap:nowrap;
    width:100%;
}

.content-tabs-row {
    /* display:block; */
    height:100px;
    margin-left:4px;
    margin-right:4px;
    border-bottom:1px solid rgba(10,10,10,0.2);
    border-top:none;
    border-right:none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: rgba(255,255,255,0.9);
    width:100%;
    /* backdrop-filter: blur(3px); */
}


.graphtabs-container .nav-link { 
    border: 1px solid rgba(150, 150, 150, 1);
    height:50px;
    line-height:50px;
    padding:0 1rem;
    margin:0;
    /* background: rgba(192, 153, 255, .6); */
    /* border: 1px solid rgba(135, 119, 159, 1); */
    /* border: 1px solid rgba(10,10,10,1); */
    /* border: 1px solid rgba(0,0,0,.1); */
    /* border:1px solid red; */
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top:none;
    border-left:none;
    display:inline-block;
    width:fit-content;
    /* background: rgba(135, 119, 159, 0.9); */
    color:black;
    background:rgba(225, 225, 225, 0.9);
}

.graphtabs-container .nav-link.link, .graphtabs-container .nav-link.visited {
    border:none;
}


.graphtabs-container .nav-link.active {
    border: 1px solid rgba(100, 100, 100, 1);
    /* background: rgba(192, 153, 255, .9); */
    /* background: rgba(102, 92, 119, 0.8); */
    background: rgba(116, 102, 139, 1);
    padding:0 1rem;
    color:black;
    /* backdrop-filter: blur(10px); */
    border-top:none;
    border-left:none;
    background:rgba(175, 175, 175, 1);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin:0;
    display:inline-block;
    width:fit-content;
    background:rgba(205, 205, 205, 1);
    font-weight:600;
}

.graphtabs-container .nav-link:hover {
    /* border-bottom: 1px solid rgb(224, 205, 255); */
    /* color:white; */
    /* border-top:none; */
    /* border: 1px solid rgba(55, 43, 74, 1); */
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 0px;
    /* font-weight:bold; */
    /* text-decoration: underline; */
    /* font-style: italic; */
    border:none;
    font-weight:700;
    border-left:1px solid silver;
    border-bottom:1px solid silver;
}



.graphtabs-container-container { 
    /* border-bottom: 1px solid #dddddd;  */
    /* border-bottom: 1px solid #dddddd;  */
    height:100px;
}

.graphtab-div {
    display:flex;
    flex-direction: column;
    height:100%;
    flex-grow:1;
    width:100%;
    /* border:1px solid red; */
    flex-flow:column;
    /* overflow: scroll; */
}

.graphtab {
    display:flex;
    flex-direction: column;
    /* height:100%; */
    flex-grow:1;
    width:100%;
    /* border:1px solid blue; */
}

.padded {
    padding:5px;
}

.dash-table-container {
    display:flex;
    flex-direction: column;
    /* height:100vh; */
    /* margin-bottom:100px; */
    flex-grow:1;
    width:100%;
    /* border:1px solid blue; */
}

.dash-spreadsheet.dash-freeze-top, .dash-spreadsheet.dash-virtualized {
    max-height: unset !important;
}


.button_showhide {

}

.button_showhide_div {
    height:100%;
    display:flex;
    align-items: center;
    width:fit-content;
    float:right;
}

.button_clear_div {
    float:right;
}

.card-footer-desc {
    text-align: left;
    width:100%;
}

.card-body {
    padding:0;
    /* padding-right:8px; */
}

.query_str {
    font-size:1rem;
    text-align: center;
    vertical-align: middle;
    width:100%;
    /* height:100%; */
    border:0;
}

.button_store_desc { 
    text-align:left;
}


.panel_L .card-header { 
    background-color: rgba(171, 145, 85, 0.4);
}
.panel_L .card-header-collapsible-panel { 
    background-color: rgba(171, 145, 85, .7);
    backdrop-filter: blur(5px);
}
.panel_L .card { 
    border: 1px solid rgba(171, 145, 85, 0.15);
}

.panel_R .card-header { 
    background-color: rgba(64, 176, 166, 0.4);
}
.panel_R .card-header-collapsible-panel { 
    background-color: rgba(64, 176, 166, .7);
    backdrop-filter: blur(5px);
}
.panel_R .card { 
    border: 1px solid rgba(64, 176, 166, 0.15);
}

.storedescs-col-L {
    border: 1px solid rgba(255,255,255,1);
    border-top:none;
    padding-right:4px;
    width:100%;
    background-color: rgba(171, 145, 85, .8);
}

.storedescs-col-R {
    border: 1px solid rgba(255,255,255,1);
    border-top:none;
    padding-left:4px;
    width:100%;
    background-color: rgba(64, 176, 166, 0.8);
    /* backdrop-filter: blur(10px); */
}

.storedescs-inbetween {
    width:4px;
    background-color: rgba(255,255,255,0);
}


.dash-debug-menu__outer, .dash-debug-menu {
    display: none !important;
}