


.container, .row, .col { 
    max-width: none; 
    padding: 0;
    margin: 0;
    width: 100%;
}

.row>* { 
    padding:0;
}

.navbar-row {
    position:absolute; top:0; left:0;
    line-height:50px;  
    padding:0;
    text-align: center;
    vertical-align: middle;
    background-color: #F7F7F7;
    border-bottom: 1px solid silver;
    z-index: 2;
}


.tabs-container {

    & .nav-link { padding:0 .5rem; }
}


.tabs-container { 
    /* border:1px solid blue; */
    width:fit-content;
    /* margin-left:auto; */
    margin: 0 auto;
    padding-right:8px;
}


.tabs-container .tab {
    height:50px;
    line-height:50px;
    margin:0;
    padding:0;
    margin-block-end: 0;
    margin-block-start: 0;
    padding-inline-start: 0;
    vertical-align: middle;
}

.logo { 
    margin:0 auto; 
    height:50px; 
    vertical-align: top; 
    display:inline; 
}
/* .logo { position: absolute; top:0; left:0; height:50px; } */
.logo-img {  height:50px; display:inline; margin-top:-10px;}
.logo-title { margin:0 10px; font-size:1.5rem; line-height:50px; display: inline;}

/* .nav-link { margin:0; padding:0; } */
.nav-tabs { border-bottom: none; }

.card {
    /* margin:10px; */
}

.card-header {
    font-weight: bold;
    /* background-color: blue; */
    font-size:1.1em;
    padding-left:.1rem;
}

.card-body { 
    /* padding:.5rem; */
}

.card-footer {
    padding:0.2em;
    /* font-size:0.9em; */
    text-align: right;
    background-color: rgba(0,0,0,0);
    border-top: none;
    & div { margin:0;padding:0;}
    & p { margin:0;padding:0}
}

p {
    margin-top:0.5rem;
    margin-bottom:0.5rem;
}

.btn-link {
    vertical-align: top;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
}



/* .toprowmap { height:fit-content}  */

/* .comparison_map { height:200px; } */
/* .layout-container { height:100vh; } */
.layout-belownavbar { height:100vh; max-height:100vh; min-height:100vh; padding-top:50px; margin-bottom:50px;}

/* .layout-toprow { overflow-y: fixed; height:40vh; border: 1px solid red; }

.layout-mainrow { overflow-y: scroll; height:60vh; border: 1px solid blue;} */

/* .layout-bottomrow { overflow-y: fixed; height: 20vh} */



.layout-toprow { 
    /* position: fixed;  */
    /* top:0; */
    /* left:0;  */
    /* border: 1px solid green;  */
    height:500px; 
    z-index: 1;
    /* background-color: white; */
    vertical-align: top;
    /* border-bottom: 1px solid red; */
    /* padding-right:8px; */
}

.layout-mainrow { 
    border-top:1px solid black;
    /* position:fixed;  */
    /* height:400px;  */
    height:100vh;
    /* position:absolute; top:50; left:0;  */
    /* padding-top:400px; */
    overflow-y: scroll;
    overflow-x: hidden;
    /* padding-top:450px;  */
    /* border: 1px solid blue; */
    z-index: 3;


  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: silver white;
}

.layout-mainrow::-webkit-scrollbar {
    width: 8px; /* width of the entire scrollbar */
}
  
.layout-mainrow::-webkit-scrollbar-thumb {
    background-color: silver;
    /* border-radius: 20px; */
}
  
  

.toptabs-row {
    /* border:1px solid red; */
}



body { 
    overflow: hidden
}





.panel {
    /* padding:5px; */
}

.storedescs-col {
    float: none;
    clear:both;
    /* text-align:center; */
}

.storedescs-row {
    & h2 {
        font-size:1rem;
        font-weight:normal;
    }

    padding:5px;
}

.storedescs-col-L { text-align: left;}
.storedescs-col-R { text-align: left;}


.left-color {
    color: #7d6ab6;
}

.right-color {
    color: #bf6927;
}

.store_desc { 
    display:inline; 
    & div {display:inline}
    & p {display:inline}
}

.comparison_map_graph {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    padding-bottom:50px;
    /* position:fixed; top:0;right:0; */
}

.layout-rightcol {
    border:1px solid green;
}