.container, .row, .col { 
    max-width: none; 
    padding: 0;
    margin: 0;
    width: 100%;
}

.navbar {
    height:50px;
    line-height:50px;  
    margin: 0;
    padding:0;
}

/* .tabs-container {
    height:60px;
    line-height:40px;
} */

.logo-img { padding:0 10px; }
.logo-title { padding:0 10px; }
/* .nav-link { margin:0; padding:0; } */
.nav-tabs { border-bottom: none; }







.card {
    margin:10px;
}

.card-header {
    font-weight: bold;
}

.card-body { 
    padding:.5rem;
}

.card-footer {
    padding:0.2em;
    font-size:0.9em;
    text-align: right;
    background-color: rgba(0,0,0,0);
    border-top: none;
    & div { margin:0;padding:0;}
    & p { margin:0;padding:0}
}

p {
    margin-top:0.5rem;
    margin-bottom:0.5rem;
}

.btn-link {
    vertical-align: top;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
}



/* .toprowmap { height:fit-content}  */

/* .comparison_map { height:200px; } */
.layout-container { height:100vh; }

.layout-toprow { overflow-y: fixed; height:60vh; border: 1px solid red; }

.layout-mainrow { overflow-y: scroll; height:40vh; border: 1px solid blue;}

/* .layout-bottomrow { overflow-y: fixed; height: 20vh} */
